services:
  - type: web
    name: sprint-backoffice
    env: docker
    dockerfilePath: ./Dockerfile
    plan: starter
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 8080
      - key: DATABASE_URL
        value: postgresql://postgres:Riantsoa1203@db.orprcrcpuoftionkshvk.supabase.co:5432/postgres