services:
  - type: web
    name: sprint-backoffice
    runtime: java
    env: java
    buildCommand: |
      mvn clean package
      curl -O https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.18/bin/apache-tomcat-10.1.18.tar.gz
      tar xzf apache-tomcat-10.1.18.tar.gz
      rm -rf apache-tomcat-10.1.18/webapps/*
      cp target/SPRINT-BackOffice.war apache-tomcat-10.1.18/webapps/ROOT.war
    startCommand: apache-tomcat-10.1.18/bin/catalina.sh run
    envVars:
      - key: JAVA_VERSION
        value: 17
      - key: PORT
        value: 8080